html body {
    margin: 0px;
    height: 100%;
}
.header content{
    display: flex;
    flex-direction: row;
    border: 0px solid black;
    justify-content: center;
}

.logodiv{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 80%;   
    border: 0 solid green;
}

.logodiv img{
    border: 0px solid #42515f;
}

.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}
.emp-payroll {
    color: #42515f;
}
 * { box-sizing: border-box;}